<!DOCTYPE html>
<html lang="en" ng-app="funds">
  <head>
    <%- stylesheet = content_for?(:stylesheet) ? yield(:stylesheet) : "application" %>

    <link href="/favicon.ico" rel="shortcut icon"></link>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <%= include_gon %>
    <%= stylesheet_link_tag "style", media: "all" %>
    <%= javascript_include_tag "locales/#{I18n.locale}" %>
    <%= javascript_include_tag "funds" %>
    <%= yield(:scripts) if content_for?(:scripts) %>
    <%= render 'shared/html5' %>
    <%= render 'shared/meta' %>
    <%= csrf_meta_tags %>
    <%= analytics_init if GoogleAnalytics.valid_tracker? %>
  </head>

  <body id="<%= body_id %>" data-lang="<%= "#{locale_name}" %>">

    <div id="wrap">
      <%- if content_for?(:header) %>
        <%= yield(:header) %>
      <%- else %>
        <%= render 'shared/headernew' %>
      <%- end %>
      
      <div class='container'>
        <%= render 'shared/alert' %>
        <%= yield %>
      </div>
      <div id="push"></div>
    </div>

    <%- if content_for?(:footer) %>
      <%= yield(:footer) %>
    <%- else %>
      <%= render 'shared/footer' %>
    <%- end %>

  </body>
</html>

